@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Syne:wght@400;500;600;700;800&display=swap');
*{
  padding: 0;
  margin: 0;
}

.container{
  width: 90%;
  margin: 0 auto;
}
body{
  font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none;
}
button, input{
  cursor: pointer;
  border: none;
  outline: none;
}